UL.topbar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI.topbar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px
}
A.topbar:link {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; MARGIN: 4px; COLOR: #333333; PADDING-TOP: 2px; TEXT-DECORATION: none
}
A.topbar:visited {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; MARGIN: 4px; COLOR: #333333; PADDING-TOP: 2px; TEXT-DECORATION: none
}
A.topbar:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #0066CC; TEXT-DECORATION: none
}
A.topbar:active {
	COLOR: #ffffff; BACKGROUND-COLOR: #0066CC; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 17px; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 17px; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #cc0000; LINE-HEIGHT: 17px; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 17px; TEXT-DECORATION: none
}